*{  
  
   /* margin: 0;              /* reset */
   /* padding: 0;             /* reset */
   /* box-sizing: border-box; /* reset */
    text-decoration: none;  /*eliminar subrayado por defecto*/
    list-style: none;       /*eliminar viñeta de las listas*/
} 

/***HEADER**************************************************************************************/

header{
    
    display: flex;
    align-items: center; /*alinear verticalmente*/
    background-color: rgb(250, 219, 178);
    justify-content: space-between ; /*distribuir los elementos hijos a lo largo del eje principal, dejando el máximo espacio posible entre ellos.*/
    padding-right: 20px;
    padding-left: 20px;
}

header ul{
    display: flex;
    gap: 20px;
}

.yellow-bg{
    background-color: chocolate;
}
/**FIN HEADER*****************************************************************************/




titulo-principal{
    color: black;
    font-family: "Sour Gummy", sans-serif;
}

/***mq mobile**********************************************/
/**@media (max-width: 768px) {
     .titulo-principal{
        <img src="imagenes/logo-DL.png" alt="Portada conjunto deportivo" 
        <img src="image" alt="Portada conjunto deportivo" 
    }
}*/


section.portada img { /* ajusta el tamaño de la imagen automaticamente*/
  width: 100%;
  height: auto;
  display: block;
  
}


svg{
    width: 100px; /*relacionado con los iconos de wps y de ig*/
    height: 50px;
}

svg:hover{
    transform: scale(1.1);
}

/*******4 FOTOS DEL MENU PRINCIPAL******************************************************************************/
/*define el tamaño de las imagenes del menu*/
.menu-principal{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /*grid-template-rows: repeat(2, 30%);*/
    gap: 4rem;
}

.menu-principal div img{/* fuerzo a que las imagenes entren en su contenedor*/
    width: 100%;
    height: 100%;    
    object-fit: contain;
}

.menu-principal div :hover{
    transform: scale(1.1);
}

 /*************mq celular*****************/
 @media (max-width: 768px) {
     .menu-principal{
        grid-template-columns: 1fr ;
        gap: 1rem;
        }

       .menu-principal div img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    }

/****PRODUCTOS DESTACADOS EN LA PAGINA PRINCIPAL****************************************************************/
.menu-productos-destacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center; 
    gap: 1rem;   
}

.productos-destacados{
    width: 100%;
    max-width: 250px;   /* ajustá este número */
    height: auto;
    border: 1px solid black;
}

/*************mq celular*****************/
@media (max-width: 768px) {
    .menu-productos-destacados{
    grid-template-columns: 1fr 1fr ;
    }

    .productos-destacados {
    width: 50%;
    display: block;
    border: 1px solid black;
    margin: 0 auto;
    }

    .menu-productos-destacados article {
    text-align: center;
    padding-top: 18px; 
    }
}


/******PAGINA DE TRAJES DE BAÑO****************************************************************************/
.menu-principal-trajes-de-baño {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 2 filas * 3 columnas*/
    /* gap: 30px; controla separación real */
    padding-bottom: 50px;
    }

.menu-principal-trajes-de-baño article {
    text-align: center;
    padding-top: 50px; 
}

.menu-principal-trajes-de-baño img {
    width: 70%;
    display: block;
    margin: 0 auto;/*centra elementos block con ancho definido.*/
    border: 2px solid black;

}

 /****mq celular******/
 @media (max-width: 768px) {
     .menu-principal-trajes-de-baño{
        grid-template-columns: repeat(2, 1fr); /* 3 filas * 2 columnas*/
        }

       .menu-principal-trajes-de-baño div img{
        width: 80%;
        display: block;
        margin: 0 auto;
        }
    }


/**********PAGINA DE CONJUNTOS DEPORTIVOS***********************************************************/
section img { /* ajusta el tamaño de la imagen automaticamente, TAMBIEN TRAJES DE BAÑO*/
  width: 100%;
  height: auto;
  display: block;
}

.menu-principal-conjuntos-deportivos {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.menu-principal-conjuntos-deportivos article {
    text-align: center;
    padding-top: 50px; 
}

.menu-principal-conjuntos-deportivos img {
    width: 70%;
    display: block;
    margin: 0 auto;/*centra elementos block con ancho definido.*/
    border: 2px solid black;
}

 /****mq celular******/
 @media (max-width: 768px) {
     .menu-principal-conjuntos-deportivos{
        grid-template-columns: repeat(2, 1fr); /* 3 filas * 2 columnas*/
        }

       .menu-principal-conjuntos-deportivos div img{
        width: 80%;
        display: block;
        margin: 0 auto;
        }
    }

/*****MENU DE QUIENES SOMOS*********************************************************************/
 /*poner en una misma linea*/
.quienes-somos{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    background-color: rgb(129, 129, 138);
    margin: 5%;
    padding: 1%;
    justify-items: center;
}

.quienes-somos div{
    width: 72%;
    align-content: space-between;
}

.quienes-somos p span{           /*define el span*/
    display: block;
}

.descripcion{
    padding-top: 25px;
    text-align: justify;
}

/****mq celular******/
@media (max-width: 768px) {
    .quienes-somos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(50%);
    }
   
    .descripcion {
    grid-column: 1 /span 2;
    }
}
    
/*****MENU DEL FONDO *********************************************************************/   
section.menu-abajo{
    background-color: rgb(71, 72, 82);
    padding-bottom: 20px;
    color: white;
    display: flex;
    justify-content:space-around;

}

.pie-de-pagina{
    color: white;
}


/*******FOOTER*************************************/

footer{
    margin-top: -16px;
    padding-left: 15px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center ;
 }




