@charset "UTF-8";
* {
  margin: 0; /* reset */
  padding: 0; /* reset */
  box-sizing: border-box; /* reset */
  text-decoration: none; /*eliminar subrayado por defecto*/
  list-style: none; /*eliminar viñeta de las listas*/
}

/***HEADER**************************************************************************************/
header .titulo-principal {
  color: rgb(129, 72, 134);
  font-family: Candara;
  font-size: 3rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FEF157;
  padding-right: 20px;
  padding-left: 20px;
}
header ul {
  display: flex;
  gap: 20px;
}
header .yellow-bg {
  background-color: #B8E6D0;
}
header .yellow-bg li a:hover {
  background-color: #FED06E;
}
header .yellow-bg li a:active {
  background-color: #D99A91;
  color: whitesmoke;
}

/**FIN HEADER*****************************************************************************/
main {
  /***para acomodar "TRAJES DE BAÑO" dentro de la casilla, en la pagina del Index*/
}
main .menu-trajes-de-banio {
  position: relative;
}
main .menu-trajes-de-banio img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-menu-trajes-de-banio {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 4rem;
  font-weight: 400;
  color: black;
  letter-spacing: 10px;
}
main .titulo-menu-trajes-de-banio span {
  display: block; /*hace que el "CONJUNTOs DEPORTIVO" este en dos renglones*/
}
main {
  /***para acomodar "CONJUNTOS DEPORTIVOS" dentro de la casilla, en la pagina del Index*/
}
main .menu-conjuntos-deportivos {
  position: relative;
}
main .menu-conjuntos-deportivos img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-menu-conjuntos-deportivos {
  position: absolute;
  top: 18%;
  left: 4%;
  font-size: 3rem;
  font-weight: 400;
  color: black;
  letter-spacing: 5px;
}
main .titulo-menu-conjuntos-deportivos span {
  display: block; /*hace que el "CONJUNTOs DEPORTIVO" este en dos renglones*/
}
main {
  /***para acomodar "SWEATERS" dentro de la casilla, en la pagina del Index*/
}
main .menu-sweaters {
  position: relative;
}
main .menu-sweaters img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-menu-sweaters {
  position: absolute;
  top: 10%;
  left: 4%;
  font-size: 4rem;
  font-weight: 400;
  color: black;
  letter-spacing: 10px;
}
main {
  /***para acomodar "ACCESORIOS" dentro de la casilla, en la pagina del Index*/
}
main .menu-accesorios {
  position: relative;
}
main .menu-accesorios img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-menu-accesorios {
  position: absolute;
  top: 18%;
  left: 2%;
  font-size: 44px;
  font-weight: 400;
  color: black;
  letter-spacing: 5px;
}
main section img .portada {
  width: 100%;
  height: auto;
  display: block;
}
main svg {
  width: 100px; /*relacionado con los iconos de wps y de ig*/
  height: 50px;
}
main svg:hover {
  transform: scale(1.01);
}
main .menu-principal {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
}
main .menu-principal div img { /* fuerzo a que las imagenes entren en su contenedor */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .menu-principal div img:hover {
  transform: scale(1.01);
}
main {
  /****PRODUCTOS DESTACADOS EN LA PAGINA PRINCIPAL****************************************************************/
}
main .menu-productos-destacados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  text-align: center;
  gap: 1rem;
}
main .menu-productos-destacados article img {
  width: 100%;
  max-width: 250px; /* ajustá este número */
  height: auto;
  border: 1px solid black;
}
main {
  /*****MENU DE QUIENES SOMOS*********************************************************************/
  /*poner en una misma linea*/
}
main .quienes-somos {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(129, 129, 138);
  margin: 5%;
  padding: 1%;
  justify-items: center;
}
main .quienes-somos div {
  width: 72%;
  align-content: space-between;
}
main .quienes-somos p span {
  display: block; /*define el span*/
}
main .descripcion {
  padding-top: 25px;
  text-align: justify;
}
main section img {
  width: 100%;
  height: auto;
  display: block;
}
main {
  /******PAGINA DE TRAJES DE BAÑO****************************************************************************/
}
main .portada-traje-de-banio {
  position: relative;
}
main .portada-traje-de-banio img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-portada-trajes-de-banio {
  position: absolute;
  top: 18%;
  left: 5%;
  font-size: 5rem;
  font-weight: 400;
  color: black;
  letter-spacing: 10px;
}
main .menu-principal-trajes-de-banio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-trajes-de-banio div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-trajes-de-banio div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE CONJUNTOS DEPORTIVOS***********************************************************/
}
main .portada-conjuntos-deportivos {
  position: relative;
}
main .portada-conjuntos-deportivos img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-portada-conjuntos-deportivos {
  position: absolute;
  top: 12%;
  left: 5%;
  font-size: 4rem;
  font-weight: 400;
  color: whitesmoke;
  letter-spacing: 10px;
}
main .titulo-portada-conjuntos-deportivos span {
  display: block; /*hace que el "CONJUNTOs DEPORTIVO" este en dos renglones*/
}
main .menu-principal-conjuntos-deportivos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-conjuntos-deportivos div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-conjuntos-deportivos div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE SWEATERS***********************************************************/
}
main .portada-sweaters {
  position: relative;
}
main .portada-sweaters img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-portada-sweaters {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 5rem;
  font-weight: 400;
  color: black;
  letter-spacing: 10px;
}
main .menu-principal-sweaters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-sweaters div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-sweaters div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE ACCESORIOS***********************************************************/
}
main .portada-accesorios {
  position: relative;
}
main .portada-accesorios img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-portada-accesorios {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 5rem;
  font-weight: 400;
  color: black;
  letter-spacing: 10px;
}
main .menu-principal-accesorios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-accesorios div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-accesorios div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE CONTACTO**************************/
}
main .portada-contacto {
  position: relative;
}
main .portada-contacto img {
  width: 100%;
  height: auto;
  display: block;
}
main .titulo-portada-contacto {
  position: absolute;
  top: 18%;
  left: 5%;
  font-size: 5rem;
  font-weight: 400;
  color: black;
  letter-spacing: 10px;
}
main .email {
  display: flex;
}
main .contacto {
  display: flex;
  gap: 10px;
}
main .boton-enviar {
  background-color: rgb(129, 129, 138); /* color */
  color: whitesmoke; /* texto */
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
main .boton-enviar:active {
  background-color: rgb(71, 72, 82); /* color */
  color: whitesmoke; /* texto */
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
main .formato-fuente-contacto {
  font-size: 1.2em;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

/*********FONDO PAGINA CONTACTO****************/
.bg-contacto {
  background-color: #e4e4db;
}

/*****MENU DEL FONDO *********************************************************************/
.menu-abajo {
  background-color: rgb(71, 72, 82);
  padding: 30px 20px; /* mejor que solo bottom */
  color: whitesmoke;
  display: flex;
  justify-content: space-around; /* más limpio */
  align-items: flex-start; /* CLAVE */
  flex-wrap: wrap; /* para responsive */
  gap: 2rem;
}
.menu-abajo ul a {
  color: whitesmoke;
  text-decoration: none;
}
.menu-abajo ul li h4 {
  margin-bottom: 10px;
}
.menu-abajo ul li a {
  color: whitesmoke;
  text-decoration: none;
}

footer {
  margin-top: -16px;
  padding-left: 15px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/***TITULO PRINCIPAL*******************/
@media (max-width: 768px) {
  header .titulo-principal {
    font-family: Candara;
    font-size: 25px;
  }
}
/*************INDEX*****************/
@media (max-width: 768px) {
  main .menu-principal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
  }
  main .menu-principal div img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  main {
    /***estas 4 clases es para que entre los titulos en los cuadros*/
  }
  main .titulo-menu-trajes-de-banio {
    font-size: 2rem;
    top: 18%;
    left: 15%;
    letter-spacing: 5px;
  }
  main .titulo-menu-conjuntos-deportivos {
    font-size: 2rem;
    top: 18%;
    left: 15%;
    letter-spacing: 5px;
  }
  main .titulo-menu-sweaters {
    font-size: 2rem;
    top: 18%;
    left: 15%;
    letter-spacing: 5px;
  }
  main .titulo-menu-accesorios {
    font-size: 2rem;
    top: 18%;
    left: 15%;
    letter-spacing: 5px;
  }
}
/*****PRODUCTOS DESTACADOS****************/
@media (max-width: 768px) {
  main .menu-productos-destacados {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  main .productos-destacados {
    width: 50%;
    display: block;
    max-width: 250px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
  }
  main .menu-productos-destacados article {
    text-align: center;
    padding-top: 18px;
  }
}
/******QUIENES SOMOS*************************/
@media (max-width: 768px) {
  main .quienes-somos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(50%);
  }
  main .descripcion {
    grid-column: 1/span 2;
  }
}
/****TRAJES DE BAÑO************************/
@media (max-width: 768px) {
  main .menu-principal-trajes-de-banio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-trajes-de-banio {
    position: absolute;
    top: 22%;
    left: 15%;
    font-size: 185%;
    font-weight: 400;
    color: black;
    letter-spacing: 6px;
  }
}
/****CONJUNTOS DEPORTIVOS**********/
@media (max-width: 768px) {
  main .menu-principal-conjuntos-deportivos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-conjuntos-deportivos {
    position: absolute;
    top: 18%;
    left: 13%;
    font-size: 155%;
    font-weight: 400;
    color: black;
    letter-spacing: 3px;
  }
}
/****CONJUNTOS SWEATERS**********/
@media (max-width: 768px) {
  main .menu-principal-sweaters {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-sweaters {
    position: absolute;
    top: 14%;
    left: 15%;
    font-size: 195%;
    font-weight: 400;
    color: black;
    letter-spacing: 0px;
  }
}
/********** ACCESORIOS**********/
@media (max-width: 768px) {
  main .menu-principal-accesorios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-accesorios {
    position: absolute;
    top: 22%;
    left: 12%;
    font-size: 150%;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
  }
}
/****CONTACTO**********/
@media (max-width: 768px) {
  main .contacto {
    flex-direction: column;
    align-items: flex-start;
  }
  main .contacto input {
    max-width: 100%;
  }
  main .mensaje {
    display: flex;
  }
  main .titulo-portada-contacto {
    font-size: 23px;
    top: 20%;
    left: 5%;
    letter-spacing: 5px;
  }
}
/*****MENU DE ABAJO**************************/
@media (max-width: 768px) {
  section .menu-abajo {
    flex-direction: column;
    align-items: flex-start;
  }
}
/*****PRODUCTOS DESTACADOS****************/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-productos-destacados {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  main .productos-destacados {
    width: 50%;
    display: block;
    max-width: 250px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
  }
  main .menu-productos-destacados article {
    text-align: center;
    padding-top: 18px;
  }
}
/****TRAJES DE BAÑO************************/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-trajes-de-banio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-trajes-de-banio div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-trajes-de-banio {
    position: absolute;
    top: 12%;
    left: 5%;
    font-size: 300%;
    font-weight: 400;
    color: black;
    letter-spacing: 5px;
  }
}
/****CONJUNTOS DEPORTIVOS**********/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-conjuntos-deportivos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-conjuntos-deportivos div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-conjuntos-deportivos {
    position: absolute;
    top: 14%;
    left: 3%;
    font-size: 240%;
    font-weight: 400;
    color: black;
    letter-spacing: 0px;
  }
}
/****SWEATERS**********/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-sweaters {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-sweaters div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-sweaters {
    position: absolute;
    top: 8%;
    left: 3%;
    font-size: 3rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0px;
  }
}
/****ACCESORIOS**********/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-accesorios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-accesorios div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
  main .titulo-menu-accesorios {
    position: absolute;
    top: 25%;
    left: 2%;
    font-size: 200%;
    font-weight: 400;
    color: black;
    letter-spacing: 0px;
  }
}
/*****CONTACTO***********************/
@media (min-width: 768px) and (max-width: 1023px) {
  main .titulo-portada-contacto {
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 4rem;
    font-weight: 400;
    color: black;
    letter-spacing: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
