@charset "UTF-8";
* {
  margin: 0; /* reset */
  padding: 0; /* reset */
  box-sizing: border-box; /* reset */
  text-decoration: none; /*eliminar subrayado por defecto*/
  list-style: none; /*eliminar viñeta de las listas*/
}

/***HEADER**************************************************************************************/
header .titulo-principal {
  color: black;
  font-family: Candara, Calibri, Segoe UI, Arial, sans-serif;
  font-size: 4rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FEF157;
  padding-right: 20px;
  padding-left: 20px;
}
header ul {
  display: flex;
  gap: 20px;
}
header .yellow-bg {
  background-color: #B8E6D0;
}
header .yellow-bg li a:hover {
  background-color: #FED06E;
}
header .yellow-bg li a:active {
  background-color: #D99A91;
  color: whitesmoke;
}

/**FIN HEADER*****************************************************************************/
main section img .portada {
  width: 100%;
  height: auto;
  display: block;
}
main svg {
  width: 100px; /*relacionado con los iconos de wps y de ig*/
  height: 50px;
}
main svg:hover {
  transform: scale(1.1);
}
main .menu-principal {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
}
main .menu-principal div img { /* fuerzo a que las imagenes entren en su contenedor */
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .menu-principal div img:hover {
  transform: scale(1.1);
}
main {
  /****PRODUCTOS DESTACADOS EN LA PAGINA PRINCIPAL****************************************************************/
}
main .menu-productos-destacados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  text-align: center;
  gap: 1rem;
}
main .menu-productos-destacados article img {
  width: 100%;
  max-width: 250px; /* ajustá este número */
  height: auto;
  border: 1px solid black;
}
main {
  /*****MENU DE QUIENES SOMOS*********************************************************************/
  /*poner en una misma linea*/
}
main .quienes-somos {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(129, 129, 138);
  margin: 5%;
  padding: 1%;
  justify-items: center;
}
main .quienes-somos div {
  width: 72%;
  align-content: space-between;
}
main .quienes-somos p span {
  display: block; /*define el span*/
}
main .descripcion {
  padding-top: 25px;
  text-align: justify;
}
main section img {
  width: 100%;
  height: auto;
  display: block;
}
main {
  /******PAGINA DE TRAJES DE BAÑO****************************************************************************/
}
main .menu-principal-trajes-de-banio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-trajes-de-banio div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-trajes-de-banio div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE CONJUNTOS DEPORTIVOS***********************************************************/
}
main .menu-principal-conjuntos-deportivos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-conjuntos-deportivos div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-conjuntos-deportivos div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE SWEATERS***********************************************************/
}
main .menu-principal-sweaters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-sweaters div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-sweaters div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main {
  /**********PAGINA DE ACCESORIOS***********************************************************/
}
main .menu-principal-accesorios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /* 2 filas * 3 columnas*/
  gap: 1rem;
  padding: 50px 30px;
}
main .menu-principal-accesorios div {
  text-align: left;
  padding-top: 10px;
}
main .menu-principal-accesorios div img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}
main .email {
  display: flex;
}

/*****MENU DEL FONDO *********************************************************************/
.menu-abajo {
  background-color: rgb(71, 72, 82);
  padding: 30px 20px; /* mejor que solo bottom */
  color: whitesmoke;
  display: flex;
  justify-content: space-around; /* más limpio */
  align-items: flex-start; /* CLAVE */
  flex-wrap: wrap; /* para responsive */
  gap: 2rem;
}
.menu-abajo ul a {
  color: whitesmoke;
  text-decoration: none;
}
.menu-abajo ul li h4 {
  margin-bottom: 10px;
}
.menu-abajo ul li a {
  color: whitesmoke;
  text-decoration: none;
}

footer {
  margin-top: -16px;
  padding-left: 15px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*************INDEX*****************/
@media (max-width: 768px) {
  main .menu-principal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
  }
  main .menu-principal div img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
/*****PRODUCTOS DESTACADOS****************/
@media (max-width: 768px) {
  main .menu-productos-destacados {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  main .productos-destacados {
    width: 50%;
    display: block;
    max-width: 250px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
  }
  main .menu-productos-destacados article {
    text-align: center;
    padding-top: 18px;
  }
}
/******QUIENES SOMOS*************************/
@media (max-width: 768px) {
  main .quienes-somos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(50%);
  }
  main .descripcion {
    grid-column: 1/span 2;
  }
}
/****TRAJES DE BAÑO************************/
@media (max-width: 768px) {
  main .menu-principal-trajes-de-banio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
/****CONJUNTOS DEPORTIVOS**********/
@media (max-width: 768px) {
  main .menu-principal-conjuntos-deportivos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
/****CONJUNTOS SWEATERS**********/
@media (max-width: 768px) {
  main .menu-principal-sweaters {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
/****CONJUNTOS ACCESORIOS**********/
@media (max-width: 768px) {
  main .menu-principal-accesorios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 1rem;
    padding: 50px 30px;
  }
  main div {
    text-align: left;
    padding-top: 10px;
  }
  main div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
@media (max-width: 768px) {
  section .menu-abajo {
    flex-direction: column;
    align-items: flex-start;
  }
}
/*****PRODUCTOS DESTACADOS****************/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-productos-destacados {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
  }
  main .productos-destacados {
    width: 50%;
    display: block;
    max-width: 250px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
  }
  main .menu-productos-destacados article {
    text-align: center;
    padding-top: 18px;
  }
}
/****TRAJES DE BAÑO************************/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-trajes-de-banio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-trajes-de-banio div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
/****CONJUNTOS DEPORTIVOS**********/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-conjuntos-deportivos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-conjuntos-deportivos div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
/****SWEATERS**********/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-sweaters {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-sweaters div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}
/****ACCESORIOS**********/
@media (min-width: 768px) and (max-width: 1023px) {
  main .menu-principal-accesorios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  main .menu-principal-accesorios div img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
  }
}

/*# sourceMappingURL=main.css.map */
