//VARIABLES
@use "../utilities/variables" as *;

//LISTAS
@use "../utilities/listas" as *;

//MIXIN
@use "../utilities/mixin" as *;

/*************INDEX*****************/
@media (max-width: 768px) {
    main{
        .menu-principal{
            @include grilla(1fr, repeat(4, auto));
            gap: 1rem;
        }

        .menu-principal div img{
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}

/*****PRODUCTOS DESTACADOS****************/
@media (max-width: 768px) {
    main{
        .menu-productos-destacados{
        //@include grilla(1fr 1fr, repeat(2, auto)); 
        @include grilla(1fr, repeat(4, auto));
    }

        .productos-destacados {
        width: 50%;
        display: block;
        max-width: 250px;
        height: auto;
        border: 1px solid black;
        margin: 0 auto;
        }

        .menu-productos-destacados article {
        text-align: center;
        padding-top: 18px; 
        }
    }
}

 /******QUIENES SOMOS*************************/
@media (max-width: 768px) {
    main{
        .quienes-somos{
            @include grilla(repeat(2, 1fr),repeat(50%));
        }
    
        .descripcion {
        grid-column: 1 /span 2;
        }
    }

}

/****TRAJES DE BAÑO************************/
@media (max-width: 768px) {
    main{
        .menu-principal-trajes-de-banio{
             @include grilla(1fr ,repeat(6, auto));
              @include separacion;
        }

        .menu-principal-trajes-de-banio div img{
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}

/****CONJUNTOS DEPORTIVOS**********/
@media (max-width: 768px) {
    main{
        .menu-principal-conjuntos-deportivos{
            @include grilla(1fr ,repeat(6, auto));
             @include separacion;
        }

     div{
            @include align;
             
            img {
                width: 80%;
                display: block;
                margin: 0 auto;/*centra elementos block con ancho definido.*/
                border: 2px solid black;
            }
        }
    }
}

@media (max-width: 768px) {
    main{
        .menu-principal-sweaters{
            @include grilla(1fr ,repeat(6, auto));
            @include separacion;
        }

     div{
            @include align;
             
            img {
                width: 80%;
                display: block;
                margin: 0 auto;/*centra elementos block con ancho definido.*/
                border: 2px solid black;
            }
        }
    }
}
