//VARIABLES
@use "../utilities/variables" as *;

//LISTAS
@use "../utilities/listas" as *;

//MIXIN
@use "../utilities/mixin" as *;


/*****PRODUCTOS DESTACADOS****************/
@media (min-width: 768px) and (max-width: 1023px) {
    main{
        .menu-productos-destacados{
            @include grilla(1fr 1fr, repeat(2, auto)); 
        }

        .productos-destacados {
            width: 50%;
            display: block;
            max-width: 250px;
            height: auto;
            border: 1px solid black;
            margin: 0 auto;
        }

        .menu-productos-destacados article {
            text-align: center;
            padding-top: 18px; 
        }
    }
}

/****TRAJES DE BAÑO************************/
@media (min-width: 768px) and (max-width: 1023px) {
    main{
        .menu-principal-trajes-de-banio{
            @include grilla(repeat(2, 1fr),repeat(3, auto));
            
            div{
                img{
                    @include image-productos;
                }
            }
        }
      
        .titulo-menu-trajes-de-banio {
            @include titulo-portada(12%,5%,250%,black,5px);
        }

        .titulo-portada-trajes-de-banio {
            @include titulo-portada(17%,5%,3rem,black,6px);
        }

    }
}

/****CONJUNTOS DEPORTIVOS**********/
@media (min-width: 768px) and (max-width: 1023px) {
    main{
        .menu-principal-conjuntos-deportivos{
            @include grilla(repeat(2, 1fr),repeat(3, auto));
            
            div{
                img{
                    @include image-productos;
                }
            }
        }
        .titulo-menu-conjuntos-deportivos {
            @include titulo-portada(14%,3%,240%,black,0px);
        }

        .titulo-portada-conjuntos-deportivos {
            @include titulo-portada(17%,5%,250%,$letter-colour,6px);
        }
    }
}


/****SWEATERS**********/
@media (min-width: 768px) and (max-width: 1023px) {
    main{
        .menu-principal-sweaters{
            @include grilla(repeat(2, 1fr),repeat(3, auto));
            
            div{
                img{
                    @include image-productos;
                }
            }
        }
        .titulo-menu-sweaters {
            @include titulo-portada(8%,3%,3rem,black,0px);
        }

        .titulo-portada-sweaters {
            @include titulo-portada(23%,5%,3rem%,black,6px);
        }
    }
}

/****ACCESORIOS**********/
@media (min-width: 768px) and (max-width: 1023px) {
    main{
        .menu-principal-accesorios{
            @include grilla(repeat(2, 1fr),repeat(3, auto));
            
            div{
                img{
                    @include image-productos;
                }
            }
        }
        .titulo-menu-accesorios {
            @include titulo-portada(25%,2%,200%,black,0px);
        }

        .titulo-portada-accesorios {
            @include titulo-portada(23%,5%,3rem,black,6px);
        }
    }
}

/*****CONTACTO***********************/

@media (min-width: 768px) and (max-width: 1023px) {
    main{
        .titulo-portada-contacto {
            @include titulo-portada(18%,5%,3rem,black,10px);
        }
    }
}