@mixin image{
    width: 100%;
    height: auto;
    display: block;
}

@mixin grilla($column,$row){
    grid-template-columns: $column;
    grid-template-rows: $row;
}
  
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

@mixin align{
    text-align: left;
    padding-top: 10px; 
}

@mixin separacion{
    gap: 1rem;  
    padding: 50px 30px;
    //arriba / abajo = 50px
    //izquierda / derecha = 30px
}
@mixin image-productos{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 2px solid black
}
 



